* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
header {
    background-color: blue;
    color: white;
    text-align: center;
    height: 100px;
    padding: 25px;
}
nav {
    background-color: gray;
    padding: 15px;
    text-align: center;
    height: 50px;
    color: white;
}
main {
    background-color: yellow;
    padding: 20px;
    font-size: 18px;
    height: 150px;
}
footer {
    background-color: red;
    color: white;
    text-align: center;
    height: 50px;
    padding: 15px;
    color: white;
}