* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.lewy {
    float: left;
    width: 48%;
    background-color: lightblue;
    height: 150px;
}
.prawy {
    float: right;
    width: 48%;
    background-color: lightgreen;
    height: 150px;
}